# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\XRD-Projects\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
